#border_b {
    left: 44%;
}

#index_main {
    padding-top: 54px;
    width: 100%;
    height: auto;
}

#index_main .con_pre {
    border-left: 5px solid transparent;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
    background-color: white;
    padding: 8px 15px;
    width: 85%;
    margin: 15px auto 10px auto;
}

#index_main .con_pre:hover,
#con_head:hover {
    border-left-color: #009688;
}

.con_pre p {
    color: #666;
    margin: 0;
    font-size: 14px;
}

.con_pre p a {
    color: black;
}

.con_pre p a:hover {
    text-decoration: none;
    color: #01AAED;
}

.con_pre p i {
    margin: 0 8px;
    color: black;
}

#con_head {
    background-color: white;
    width: 85%;
    height: auto;
    text-align: center;
    margin: 15px auto;
    line-height: 39px;
    border-left: 5px solid transparent;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
    border-bottom: 1px solid #5FB878;
}

#con_head span a {
    padding: 10px 20px;
    color: white;
    background-color: #5FB878;
    font-size: 14px;
}

#con_head span a:hover {
    text-decoration: none;
}

#life_con {
    width: 85%;
    background-color: white;
    margin: 10px auto 20px auto;
    padding: 0;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
}

#life_guide {
    padding: 0;
    background-color: #5FB878;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    top: 200px;
}

#life_guide a {
    color: white;
    display: block;
    padding: 8px 0;
    font-size: 18px;
}

#life_guide a:hover {
    text-decoration: none;
    background-color: #009688;
}

#life_c {
    margin-left: 20px;
    float: right;
}

#life_c::before {
    content: "";
    width: 2px;
    height: 100%;
    background-color: #009688;
    position: absolute;
    left: 17.25%;
}

.row_left {
    color: #009688;
    display: inline-block;
}

.row_right {
    display: inline-block;
    color: white;
}

.row_right p {
    margin: 0;
    padding: 10px;
    text-indent: 2em;
    display: inline-block;
    background-color: #009688;
}

.c_row {
    margin-bottom: 20px;
}

.row_mid {
    float: left;
    display: inline-block;
    position: relative;
    left: -20px;
}

.c_row i {
    margin: auto 10px;
    z-index: 99;
}

.life_year {
    margin: 10px;
    font-size: 22px;
    font-weight: bold;
}

@media screen and (max-width:879px) {
    .c_row i {
        position: absolute;
        z-index: -1;
    }
    #life_c::before {
        width: 0px;
    }
    #life_c {
        margin-left: 0;
        left: 20%;
        float: left;
    }
}